@charset "UTF-8";

/* Body */
body {
  font-family: source-sans-pro;
  background-color: #f2f2f2; /* Light gray background */
  margin: 0;
  font-style: normal;
  font-weight: 200;
  color: #333; /* Dark gray text */
}
/* Container */
.container {
  width: 90%;
  margin: 0 auto;
  height: 1000px;
  background-color: #ffffff; /* White container background */
  color: #444; /* Slightly darker gray text */
}
/* Navigation */
header {
  width: 100%;
  height: 5%;
  background-color: #333; /* Dark gray header */
  border-bottom: 1px solid #222; /* Darker gray border */
}

.logo img {
  color: #fff;
  width: 20%;
  float: left;
}
nav {
  float: right;
  width: 50%;
  text-align: right;
  margin-right: 25px;
}
header nav ul {
  list-style: none;
  float: right;
}
nav ul li {
  float: left;
  color: #fff; /* White text */
  font-size: 14px;
  text-align: left;
  margin-right: 25px;
  letter-spacing: 2px;
  font-weight: bold;
  transition: all 0.3s linear;
}
ul li a {
  color: #fff; /* White text */
  text-decoration: none;
}
ul li:hover a {
  color: #ddd; /* Lighter gray on hover */
}
.hero_header {
  color: #fff; /* White text */
  text-align: center;
  margin: 0;
  letter-spacing: 4px;
}
/* Hero Section */
.hero {
  background-color: #444; /* Dark gray hero background */
  padding: 150px 0;
}
.light {
  font-weight: bold;
  color: #777; /* Gray text */
}
.tagline {
  text-align: center;
  color: #fff; /* White text */
  margin: 4px 0;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 1px;
}
/* About Section */
.text_column {
  width: 29%;
  text-align: justify;
  font-weight: lighter;
  line-height: 1.4; /* Use a relative unit like line-height: 1.4; */
  float: left;
  padding: 0 1.2rem; /* Use relative units for padding, e.g., 1.2rem */
  color: #0c0c0c; /* Gray text */
}
.about {
  max-height: 0; /* Set initial max-height to 0 */
  overflow: hidden; /* Hide content that overflows the max-height */
  transition: max-height 0.5s cubic-bezier(0.57, 0.21, 0.69, 3.25); /* Add a transition for max-height with a duration of 0.5 seconds */
  transition: padding 0.8s ease-in-out;
  color: #444; /* Slightly darker gray text */
  text-align: center;
  background: linear-gradient(180deg, #ffffff, #f2f2f2);
  position: relative;
}
.about::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/grain_1.jpg"); /* Replace 'grain-texture.png' with your texture image */
  background-repeat: no-repeat;
  background-size: cover;
  pointer-events: none; /* Allow clicks to pass through the pseudo-element */
  opacity: 0.1; /* Adjust the opacity of the grain texture */
}
.about.active::before {
  opacity: 0.2; /* Adjust the opacity as needed */
}
.about.active {
  max-height: 31.25rem; /* Adjust the max-height to the desired expanded height using a relative unit, e.g., 31.25rem */
  background: #ffffff;
  padding: 1.25rem; /* Use relative units for padding, e.g., 1.25rem */
  padding-bottom: 2.5rem;
}

.about_header {
  text-align: center;
  background-color: #777;
  padding: 1.25rem; /* Use relative units for padding, e.g., 1.25rem */
  border: 0.1875rem solid #f2f2f2;
}
.about_header:hover {
  cursor: pointer;
}
/* Stats Gallery */
.stats {
  color: #777; /* Gray text */
  margin-bottom: 5px;
}
.gallery {
  clear: both;
  display: inline-block;
  width: 100%;
  background-color: #ffffff; /* White gallery background */
  padding: 0;
  margin-top: -5px;
}
.thumbnail {
  width: 25%;
  text-align: center;
  float: left;
  margin-top: 35px;
}
.gallery .thumbnail h4 {
  margin: 5px;
  color: #333; /* Dark gray title */
}
.gallery .thumbnail p {
  margin: 0;
  color: #666; /* Gray text */
}
/* Parallax Section */

.banner {
  background-color: #222; /* Dark gray banner background */
  background-image: url(../images/water.jpg);
  height: 400px;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner h2 {
  margin-bottom: 20px;
}
.parallax {
  color: #fff; /* White text */
  text-align: right;
  padding: 110px 100px 0 0;
  letter-spacing: 2px;
  margin: 0;
  font-size: 32px;
}
.parallax_description {
  color: #ffffff; /* White text */
  text-align: right;
  padding: 0 100px 0 0;
  width: 30%;
  float: right;
  font-weight: lighter;
  line-height: 23px;
  margin: 0;
  font-size: 20px;
  background-color: rgba(160, 160, 160, 0.5);
  padding: 20px 60px 20px 60px;
  border-radius: 10px;
}
/* More info */
footer {
  background-color: #333; /* Dark gray footer background */
  padding-bottom: 35px;
  color: #fff; /* White text */
}
.footer_column {
  width: 50%;
  text-align: center;
  padding-top: 30px;
  float: left;
}
footer .footer_column h3 {
  color: #777; /* Gray text */
  text-align: center;
}
footer .footer_column p {
  padding: 0 30px;
  text-align: center;
  line-height: 25px;
  font-weight: lighter;
  margin: 0 10px;
  font-size: 18px;
}
.cards {
  width: 100%;
  height: auto;
  max-width: 400px;
  max-height: 300px;
  margin-bottom: 3rem;
}
.footer_column p {
  margin: 0 20px;
}
.footer_column img {
  border-radius: 10px;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.2);
}
.button {
  width: 200px;
  margin: 40px auto;
  padding: 20px;
  text-align: center;
  vertical-align: middle;
  border-radius: 0px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  border: 3px solid #fff; /* White border */
  color: #fff; /* White text */
  transition: all 0.3s linear;
}
.button:hover {
  background-color: #222; /* Dark gray on hover */
  color: #ddd; /* Lighter gray on hover */
  cursor: pointer;
}

.footer_banner {
  background-color: #666; /* Dark gray footer banner background */
  padding: 60px 0;
  margin-bottom: 0;
  background-image: url(../images/old_town_2.jpg);
  background-repeat: repeat;
  font-size: 18px;
}

footer {
  display: inline-block;
}

.contact-info {
  text-align: center;
  color: #fff;
}

.contact-info strong {
  display: inline-block;
  margin-bottom: 10px;
}

.contact-info a {
  color: #fff;
  text-decoration: none;
}

.contact-info a:hover {
  color: #888; /* Change to a lighter grayish color on hover */
}

.back-to-top {
  display: none; /* Initially hide the link */
  position: fixed;
  bottom: 20px; /* Adjust the desired distance from the bottom */
  right: 20px; /* Adjust the desired distance from the right */
  padding: 10px 20px;
  background-color: #52bad5;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}

.back-to-top:hover {
  background-color: #444; /* Change background color on hover */
}
/* Mobile */
@media (max-width: 320px) {
  .logo {
    width: 100%;
    text-align: center;
    margin: 13px 0;
  }
  .container header nav {
    margin: 0;
    width: 100%;
    float: none;
    display: none;
  }
  header nav ul {
    padding: 0;
    float: none;
  }
  nav ul li {
    margin: 0;
    width: 100%;
    text-align: center;
  }
  .text_column {
    width: 100%;
    text-align: justify;
    padding: 0;
  }
  .thumbnail {
    width: 100%;
  }
  .footer_column {
    width: 100%;
    margin: 0;
  }
  .parallax {
    text-align: center;
    margin: 0;
    padding: 40% 0 0 0;
    width: 100%;
    font-size: 18px;
  }
  .parallax_description {
    padding: 0;
    width: 90%;
    margin: 25px 0 0 12px;
    float: none;
    text-align: center;
  }
  .banner {
    background-color: #222; /* Dark gray banner background */
    background-image: none;
  }
  .tagline {
    margin-top: 20px;
    line-height: 22px;
  }
  .hero_header {
    padding: 0 10px;
    line-height: 22px;
    text-align: center;
  }
}

/* Small Tablets */
@media (min-width: 321px) and (max-width: 767px) {
  .logo {
    width: 100%;
    text-align: center;
    margin: 13px 0;
    color: #043745;
  }
  .logo img {
    color: #fff;
    width: 40%;
    float: left;
    letter-spacing: 4px;
    position: absolute;
    margin-left: 2rem;
  }
  .container header nav {
    margin: 0;
    width: 100%;
    float: none;
    overflow: auto;
    display: inline-block;
    background: #52bad5;
  }
  header nav ul {
    padding: 0;
    float: none;
  }
  nav ul li {
    margin-right: 10px;
    width: 100%;
    text-align: center;
    padding: 8px 0;
  }
  nav ul li a {
    font-size: 12px; /* Reduce the font size for smaller screens */
  }
  .text_column {
    width: 100%;
    text-align: left;
    padding: 0;
  }
  .thumbnail {
    width: 100%;
  }
  .footer_column {
    width: 100%;
    margin: 0;
  }
  .parallax {
    text-align: center;
    margin: 0;
    padding: 40% 0 0 0;
    width: 100%;
    font-size: 18px;
  }
  .parallax_description {
    padding: 0;
    margin: 30% 0 0 0;
    float: none;
    width: 100%;
    text-align: center;
  }
  .thumbnail {
    width: 50%;
  }
  .parallax {
    margin: 0;
    padding: 0;
    padding-top: 20%;
  }
  .parallax_description {
    margin: 0;
    width: 100%;
    padding-top: 30px;
  }
  .banner {
    padding: 0 20px;
  }
  .footer_column {
    width: 100%;
  }
}

/* Small Desktops */
@media (min-width: 768px) and (max-width: 1096px) {
  .text_column {
    width: 100%;
  }
  .thumbnail {
    width: 50%;
  }
  .text_column {
    width: 100%;
    margin-top: 20;
    padding: 0;
  }
  .banner {
    margin: 0;
    padding: 0;
  }
}
/* Larger Screens */
@media (min-width: 1097px) {
  .hero_header {
    font-size: 28px; /* Increase font size for larger screens */
    text-align: center; /* Center-align the text */
    margin: 0; /* Remove any margin */
  }
  .logo img {
    background-color: black;
    border-radius: 50%;
    width: 10%;
    float: left;
    margin: 15px 25px;
    letter-spacing: 4px;
    max-width: 10%; /* Set a maximum width for the logo */
    height: auto; /* Allow the height to adjust proportionally */
  }
}
