/* Logo Designs Page Styles */

/* Reset list-style-type to remove the dots from the navbar */
.navbar ul {
  list-style-type: none;
  padding: 0;
}

/* Header and Navbar */
.navbar {
  background-color: #52bad5; /* Background color for the navigation bar */
  overflow: hidden; /* Clear floats in the navbar */
}

.navbar ul {
  padding: 0;
  text-align: center;
}

.navbar ul li {
  display: inline-block;
  margin-right: 20px;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  transition: color 0.3s;
}

.navbar ul li a:hover {
  color: #2c9ab7;
}

/* Logo Designs Section */
.logo-designs {
  text-align: center;
  padding: 40px;
}

.logo-designs h1 {
  font-size: 36px;
  color: #333; /* Text color for the section */
}

/* Gallery */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.thumbnail {
  width: calc(25% - 20px);
  margin: 10px;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
}

.thumbnail:hover {
  transform: scale(1.1);
}

.thumbnail img {
  max-width: 100%;
  height: auto;
}

/* Contact Me Section */
.contact-me {
  text-align: center;
  padding: 40px;
  background-color: #f2f2f2;
}

.contact-me h2 {
  font-size: 28px;
  color: #333;
  margin-bottom: 10px;
}

.contact-me p {
  font-size: 18px;
  color: #717070;
  margin: 5px 0;
}

/* Footer - Sticky Footer */
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #52bad5; /* Background color for the footer */
  padding: 20px;
  text-align: center;
  color: #fff;
}

/* Responsive Adjustments */
@media (max-width: 767px) {
  .navbar ul li {
    margin-right: 10px;
  }
  .navbar ul li a {
    font-size: 14px;
  }

  .thumbnail {
    width: calc(50% - 20px);
  }
}

/* Add more media queries and custom styles as needed */
