/* Reset list-style-type to remove the dots from the navbar */
h1 {
  pointer-events: none;
}

a {
  text-decoration: none;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
}

/* Header and Navbar */
.navbar {
  background-color: #52bad5;
  overflow: hidden;
}

.navbar ul {
  padding: 0;
  text-align: center;
}

.navbar ul li {
  display: inline-block;
  margin-right: 20px;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

.navbar ul li a:hover {
  color: #ccc;
}

.udad-nav ul {
  list-style: none; /* Remove list item bullet points */
  padding: 0; /* Remove default padding */
  display: flex; /* Display the list items in a flex container */
  justify-content: space-evenly; /* Distribute space evenly between links */
  align-items: center; /* Center items vertically within the container */
}

.udad-nav li {
  display: inline; /* Display the list items inline */
  margin-right: 20px; /* Add spacing between the links */
}

/* Style the links themselves (optional) */
.udad-nav a {
  text-decoration: none;
  color: #333; /* Adjust the link color as needed */
  padding: 10px; /* Add padding to create space around the links */
}

/* Logo Designs Section */
.logo-designs {
  text-align: center;
  padding: 40px;
  background-color: #444; /* Dark gray hero background */
}

.logo-designs h1 {
  text-align: center;
  font-size: 36px;
  color: #fff; /* White text */
}

/* Gallery */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-link {
  width: calc(25% - 20px);
  margin: 10px;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.image-link img {
  max-width: 100%;
  height: auto;
  width: 100%;
}

/* Contact Me Section */
.contact-me {
  text-align: center;
  padding: 40px;
  background-color: #333; /* Dark gray footer background */
  color: #fff; /* White text */
}

.contact-me h2 {
  font-size: 28px;
}

.contact-me p {
  font-size: 18px;
}

.contact-me a {
  color: #fff;
  text-decoration: none;
}

.contact-me a:hover {
  color: #ccc;
}

/* Footer - Sticky Footer */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #52bad5;
  padding: 20px;
  text-align: center;
  color: #fff;
}

/* Modal (lightbox) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  display: block;
  margin: 0 auto;
  max-width: 80%;
  max-height: 80%;
}

.close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  cursor: pointer;
  color: #fff;
}

.modal-content.enlarged {
  width: 90%; /* Adjust as needed */
  max-width: 90%; /* Limit image width to 90% of the viewport width */
  max-height: 90vh; /* Limit image height to 90% of the viewport height */
}

#modalImage {
  max-width: 100%;
  height: auto;
  border: 2px solid #333; /* Add a border with your desired style and color */
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3); /* Add a shadow effect with your desired properties */
}

#prevImage,
#nextImage {
  /* Position the navigation buttons */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  cursor: pointer;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 50%;
  user-select: none;
  z-index: 2;
}

#prevImage {
  left: 10px;
}

#nextImage {
  right: 10px;
}

#prevImage:hover,
#nextImage:hover {
  background-color: rgba(0, 0, 0, 0.9);
}
.back-to-top {
  display: none; /* Initially hide the link */
  position: fixed;
  bottom: 20px; /* Adjust the desired distance from the bottom */
  right: 20px; /* Adjust the desired distance from the right */
  padding: 10px 20px;
  background-color: #52bad5;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}

.back-to-top:hover {
  background-color: #444; /* Change background color on hover */
}

/* Responsive Adjustments */
@media (max-width: 767px) {
  .navbar ul li {
    margin-right: 10px;
  }

  .navbar ul li a {
    font-size: 14px;
  }

  .image-link {
    width: calc(50% - 20px);
  }
}
